
<nav id="navbar" class="navbar navbar-expand-lg fixed-top bg-transparent transition">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/" onclick="setActive('')">
      <img src="/assets/logo.svg" alt="logo" width="40" height="40" />
      <span class="fw-bold fs-5"></span>
    </a>
    
    <button class="navbar-toggler" type="button" onclick="toggleMenu()">
      <img src="/assets/menu.svg" alt="menu" id="menu-icon" width="28" height="28" />
    </button>

    <div class="collapse navbar-collapse" id="nav-links">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
        <!-- Dynamically populated via JS -->
      </ul>
    </div>
  </div>
</nav>
